<div class="row">
  <div class="col-md-3 col-lg-3 col-sm-12"></div>
  <div class="col-md-12 col-lg-6 col-sm-12">
    <div class="card my-5">
      <div class="card-header pb-0">
        <h4 class="main-content-label mb-1 my-2">Orden de Venta</h4>
      </div>
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <form  [formGroup]="formOrden" (submit)="generar()">
            <div class="form-body row">
              <div class="col-md-6 col-sm-12 col-lg-6 mb-2">
                <div class="form-group">
                  <ng-select formControlName="tipo_doc"
                             [items]="tipo_doc"
                             bindLabel='name'
                             bindValue='name'
                             placeholder="TIPO DOCUMENTO*">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6 mb-2">
                <div class="form-group">
                  <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                    <input class="form-control" autocomplete="off" formControlName="num_doc"
                            placeholder="INGRESE N° DOUMENTO">
                  </div>
                </div>
              </div>
              <!--DIRECCION-->
              <div class="col-md-4 col-sm-12 col-lg-4 mb-2">
                <div class="form-group">
                  <ng-select formControlName="departamento"
                             [items]="departamento"
                             bindLabel='course_name'
                             bindValue='course_code'
                             placeholder="SELECCIONAR DEPARTAMENTO*">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4 mb-2">
                <div class="form-group">
                  <ng-select formControlName="provincia"
                             [items]="provincia"
                             bindLabel='course_name'
                             bindValue='course_code'
                             placeholder="SELCCIONAR PROVINCIA*">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4 mb-2">
                <div class="form-group">
                  <ng-select formControlName="distrito"
                             [items]="distrito"
                             bindLabel='course_name'
                             bindValue='course_code'
                             placeholder="SELECCIONAR DISTRITO*">
                  </ng-select>
                </div>
              </div>
              <!--INPUT-->
              <div class="col-md-8 col-sm-12 col-lg-8 mb-2">
                <div class="form-group">
                  <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
                    <input class="form-control" autocomplete="off" formControlName="direccion"
                            placeholder="INGRESE DIRECCION">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4 mb-2">
                <div class="form-group">
                  <ng-select formControlName="condicion"
                             [items]="condicion"
                             bindLabel='name'
                             bindValue='name'
                             placeholder="CONDICION PAGO*">
                  </ng-select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="text-end">
            <button class="btn btn-success fa fa-plus" (click)="addRow()"> Add</button>
          </div>
          <!--TABLA-->
          <div class="table-responsive invoice-table my-4" id="table">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <td class="text-center"></td>
                <td>Producto</td>
                <td class="text-center">Cantidad</td>
                <td class="text-center">Precio Unit.</td>
                <td class="text-center">Precio Total</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                <td>
                  <button class="btn btn-danger fa fa-trash" (click)="deleteRow(i)"></button>
                </td>
                <td>
                  <input class="form-control" style="width: 20rem;" name="{{dynamic.producto}}" [(ngModel)]="dynamic.producto"  type="text" />
                </td>
                <td>
                  <input class="form-control" style="width: 5rem;" name="{{dynamic.cantidad}}" [(ngModel)]="dynamic.cantidad"  type="number" />
                </td>
                <td>
                  <input class="form-control" style="width: 4rem;" name="{{dynamic.unit}}" [(ngModel)]="dynamic.unit"  type="text"/>
                </td>
                <td>
                  <input class="form-control" style="width: 4rem;" name="{{dynamic.total}}" [(ngModel)]="dynamic.total"  type="text"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-end">
            <button class="btn btn-warning fa fa-save" (click)="getValues()"> Generar Orden</button>
          </div>
          <div>{{dynamicArray | json}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-12"></div>
</div>
