<!-- app-Header -->
<div class="app-header header sticky">
  <div class="container-fluid main-container">
    <div class="d-flex">
      <a href="javascript:void(0)"
         aria-label="Hide Sidebar"
         class="app-sidebar__toggle"
         data-bs-toggle="sidebar"
         (click)="toggleSidebar()"></a>
      <!-- sidebar-toggle-->
      <a class="logo-horizontal" routerLink="/dashboard">
        <img
          src="https://cdn.discordapp.com/attachments/733805519617130506/1178127139413958666/Logo_JatunAyllu2.png?ex=65750366&is=65628e66&hm=9ef601f81b6e4359ff877ce3f1a55620af1b0c5785e58f67c266ce8c490e7ac9&"
          class="header-brand-img desktop-logo"
          alt="logo"
        />
        <img
          src="https://cdn.discordapp.com/attachments/733805519617130506/1178127139413958666/Logo_JatunAyllu2.png?ex=65750366&is=65628e66&hm=9ef601f81b6e4359ff877ce3f1a55620af1b0c5785e58f67c266ce8c490e7ac9&"
          class="header-brand-img light-logo1" style="width: 15%;"
          alt="logo"
        />
      </a>
      <!-- LOGO -->
      <div class="d-flex order-lg-2 ms-auto header-right-icons">
        <div class="dropdown d-none">
          <a
            href="javascript:void(0)"
            class="nav-link icon"
            data-bs-toggle="dropdown"
          >
            <i class="fe fe-search"></i>
          </a>
          <div class="dropdown-menu header-search dropdown-menu-start">
            <div class="input-group w-100 p-2">
              <input
                type="text"
                class="form-control"
                placeholder="Search...."
              />
              <div class="input-group-text btn btn-primary">
                <i class="fe fe-search" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- SEARCH -->
        <button
          class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
          type="button"
          (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        >
          <span class="navbar-toggler-icon fe fe-more-vertical"></span>
        </button>
        <div class="navbar navbar-collapse responsive-navbar p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4"
          #collapse="ngbCollapse"
          [(ngbCollapse)]="isCollapsed"
          >
            <div class="d-flex order-lg-2">
              <div ngbDropdown  class="dropdown d-lg-none d-flex">
                <a ngbDropdownToggle
                  href="javascript:void(0)"
                  class="nav-link icon"
                  data-bs-toggle="dropdown"
                >
                  <i class="fe fe-search"></i>
                </a>
                <div ngbDropdownMenu  class="dropdown-menu header-search dropdown-menu-start">
                  <div ngbDropdownItem class="input-group w-100 p-2">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search...."
                    />
                    <div class="input-group-text btn btn-primary">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div ngbDropdown class="d-flex country">
                <a class="nav-link icon text-center" data-bs-target="#country-selector" data-bs-toggle="modal">
                    <!--(click)="open(content)"-->
                  <i class="fe fe-globe"></i>
                  <span class="fs-16 ms-2 d-none d-xl-block">Perú</span>
                </a>
              </div>
              <!-- COUNTRY -->
              <!-- <div class="d-flex country">
                <a class="nav-link icon theme-layout nav-link-bg layout-setting" appToggleTheme>
                  <span class="dark-layout"><i class="fe fe-moon"></i></span>
                  <span class="light-layout"><i class="fe fe-sun"></i></span>
                </a>
              </div> -->
              <!-- Theme-Layout -->
              <div ngbDropdown class="dropdown d-flex profile-1" *ngIf="profile">
                <a ngbDropdownToggle
                  href="javascript:void(0)"
                  data-bs-toggle="dropdown"
                  class="nav-link leading-none d-flex"
                >
                  <img
                    src="{{userImg}}"
                    alt="profile-user"
                    class="avatar profile-user brround cover-image"
                  />
                  <!-- <img
                    src="{{profile.data.img_perfil}}"
                    alt="profile-user"
                    class="avatar profile-user brround cover-image"
                  /> -->
                </a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <div class="drop-heading">
                    <div ngbDropdownItem class="text-center">
                      <h5 class="text-dark mb-0 fs-14 fw-semibold text-capitalize">
                        {{userName}}
                      </h5>
                      <small class="text-muted"> {{group_name}}</small>
                    </div>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a ngbDropdownItem class="dropdown-item" routerLink="/panel/perfil">
                    <i class="dropdown-icon fe fe-user"></i> Perfil
                  </a>
                  <!-- <a ngbDropdownItem class="dropdown-item"  routerLink="/pages/mail-indox">
                    <i class="dropdown-icon fe fe-mail"></i> Inbox
                    <span class="badge bg-danger rounded-pill float-end"
                      >5</span
                    >
                  </a>
                  <a ngbDropdownItem class="dropdown-item"  routerLink="/custompages/lockscreen">
                    <i class="dropdown-icon fe fe-lock"></i> Lockscreen
                  </a> -->
                  <a href="javascript:void(0);" ngbDropdownItem (click)="signout()" class="dropdown-item">
                    <i class="dropdown-icon fe fe-alert-circle"></i> Salir
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="demo-icon nav-link icon" (click)="toggleSwitcher()">
          <i class="fe fe-settings fa-spin text_primary"></i>
        </div> -->
      </div>
    </div>
  </div>
</div>